.picture {
    width: 10vw;
}

.picture img {
    height: 30px;
}

.name {
    width: 15vw;
}

.surname {
    width: 15vw;
}

.email {
    width: 25vw;
}

.roles {
    width: 15vw;
    font-size: 10px;
}

.actions img {
    height: 20px;
    padding: 0 20px 0 20px;
}
